.navigation {
  background: rgb(0, 132, 255);
  padding: 30px;
}

.navigation a {
  padding: 10px 40px;
  margin: 10px;
  text-decoration: none;
  color: white;
  background: rgb(255, 42, 42);
  border-radius: 5px;
}
